<div class="container-fluid">
  <div class="row no-gutters mt-3">
    <div class="col">
      <div class="jumbotron">
        <h2 class="font-weight-bold">Visual Representation</h2>
        <h5 class="text-primary">Page Headers</h5>
        <p class="lead">
          On pages, statuses are represented by badges next to the page title.
          The visual display of the badge elements for fox-ui is shown below.
        </p>
        <hr class="my-4">
        <div class="container-fluid">
          <div class="row no-gutters mt-3 justify-content-between">
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="recordLocked"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Record Locked</h6>
                  If a page or entity is locked
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="queue"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Queue</h6>
                  The entity currently belongs to a queue
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-3 justify-content-between">
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="specialHandlingCode"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Special Handling Code</h6>
                  Member has one or more active special handling codeß
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="requestDenied"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Request Denied</h6>
                  This request was previously denied
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-3 justify-content-between">
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="maintPending"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Maintenance Pending</h6>
                  There is a pending maintenance request for the member
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="{}"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Request Approved</h6>
                  The request was previously approved
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-3 justify-content-between">
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="paperClaim"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Paper Claim</h6>
                  Claim in question originated as a paper claim
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="pendingApproval"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Pending Approval</h6>
                  This request is awaiting user approval
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters mt-3 justify-content-between">
            <div class="col-4"></div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="memberMigrated"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Member Migrated</h6>
                  Indicates that the member has been migrated to FOX
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-primary">Quick View</h5>
        <p class="lead">
          Statuses may optionally be abbreviated to only display icon badge variants.
          This is shown below.
        </p>
        <hr class="my-4">
        <div class="container-fluid">
          <div class="row no-gutters mt-3">
            <div class="col-2">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="recordLockedIcon"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Record Locked</h6>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="paperClaimIcon"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Paper Claim</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-primary mt-5">Additional Custom Settings</h5>
        <p class="lead">
          Statuses may optionally be customized with other settings.
          This is shown below.
        </p>
        <hr class="my-4">
        <div class="container-fluid">
          <div class="row no-gutters mt-">
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="iconAfterTextDescription"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Icon after text description</h6>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="noIcon"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">No icon only text</h6>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row no-gutters">
                <fox-badge [badgeParams]="dynamicText"></fox-badge>
                <div class="col">
                  <h6 class="font-weight-bold">Text change dynamically</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

